.footer {
  display: flex;
  flex-direction: column;
  padding-block: 12px;
  padding-inline: 16px;
  background-color: var(--palette-background-default);
  box-shadow: var(--shadows-2);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: var(--body1-font-size);
    line-height: 1;
  }

  &__label {
    font-weight: 700;
    text-transform: uppercase;
  }
}
