.header {
  display: flex;
  background-color: var(--palette-background-default);
  box-shadow: var(--shadows-2);
  align-items: center;
  padding: 10px;

  &__logo-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__logo {
    border-radius: 50%;
    margin-inline-start: calc(170px - 65px);
  }
}
