@use '../styles/base/mixins' as mixins;

.home-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__more {
    width: max-content;
    margin-inline: auto;

    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}
