@use '../../styles/base/mixins' as mixins;

.books-grid {
  display: grid;
  flex-grow: 1;

  @include mixins.media-breakpoint-down(lg) {
    gap: 20px;
  }

  @include mixins.media-breakpoint-between(md, lg) {
    font-size: var(--typography-fontSize-body3);
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
