:root {
  --palette-primary-text: #253858;
  --palette-secondary-text: #fff;
  --palette-third-text: #42526e;
  --palette-text-disabled: #a7b9c7;

  --palette-background-main: #f4f5f7;
  --palette-background-default: #fff;
  --palette-background-secondary: #3e86fa;
  --palette-background-third: #f7feff;
  --palette-background-dark: #1d1e20;
  --palette-background-overlay: rgba(0, 0, 0, 0.5);

  --border-radius-primary: 5px;
  --border-radius-secondary: 10px;
  --border-radius-third: 25px;

  --shadows-1: 0 1px 2px 0 rgb(0 0 0 / 8%);
  --shadows-2: 0 0 #0000, 0 0 #0000, 0 3px 13px 0 rgb(0 0 0 / 15%);
  --shadows-3: 0 20px 46px -18px rgb(0 0 0 / 15%);
  --shadows-4: 0 1px 3px 0 rgb(0 0 0 / 11%);

  --typography-fontFamily: 'Open Sans', sans-serif;
  --typography-htmlFontSize: 16px;
  --typography-fontSize-h1: 36px;
  --typography-fontSize-h2: 26px;
  --typography-fontSize-h3: 20px;
  --typography-fontSize-body1: var(--typography-htmlFontSize);
  --typography-fontSize-body2: 13px;
  --typography-fontSize-body3: 10px;
}
